@use "../helpers//function" as *;

/* Colors */

$mainBlack: #2E2E2E;
$mainWhite: #FFFFFF;
$mainBackground: #f8f8f8;
$mainBrown: #3F3232;
$mainGray: #C4C4C442;

$accentOrange: #FF9401;
$accentGray: #C4C4C4;

$opacityOrange: #FF940133;

/* Font */

$fontMontserrat: var(--font-montserrat); // Gilroy
$fontNunito: var(--font-nunito); // Circular Std


/* Transition */

$smallTransition: 0.4s;
$middleTransition: 0.6s;
$bigTransition: 0.8s;


/* Box shadow */

$boxShadow: rem(0) rem(10) rem(20) $opacityOrange;


/* Z-index */

$z-100: 100;
$z-200: 200;
$z-300: 300;
$z-400: 400;
$z-500: 500;