.social {
  display: flex;
  column-gap: rem(30);

  &Item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(35);
    aspect-ratio: 1;
    background-color: $mainWhite;
    border-radius: 50%;
    box-shadow: $boxShadow;

    @include active();
    @include focus();
    @include svg-hover($smallTransition, $accentOrange)
  }
}