.footer {
  position: relative;
  padding-top: clamp(rem(50),5vw,rem(85));
  background-image: $backgroundGradient;
  z-index: $z-200;

  &::before {
    content: url("../../assets/images/pineapple.png");
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-100;

    @include laptop() {
      display: none;
    }
  }

  &::after {
    content: url("../../assets/images/fruts.png");
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-100;

    @include laptop() {
      display: none;
    }
  }

  &Container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: rem(25);
    z-index: $z-200;
  }

  &Info {
    display: flex;
    justify-content: space-between;
    column-gap: rem(30);

    @include mobile() {
      flex-direction: column;
      align-items: center;
      row-gap: rem(50);
    }
  }
}