.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(25);

  &Title {
    font-weight: 700;

    @include fluid-text(24, 20)
  }

  &Body {
    margin-top: rem(20);
    font-weight: 450;
    line-height: 160%;

    @include fluid-text(18, 16)
  }
}