.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-block: clamp(rem(30),3vw,rem(45)) rem(20);

  &Container {
    display: flex;
    justify-content: space-between;
    column-gap: rem(40);
  }

  &List {
    position: relative;
    display: flex;
    column-gap: clamp(rem(20),7vw,rem(60));
  }
}