.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-block: clamp(rem(30), 3vw, rem(45)) rem(20);
  transition: $smallTransition;
  z-index: $z-300;

  &Container {
    display: flex;
    justify-content: space-between;
    column-gap: rem(40);
  }

  &Logo {
    display: flex;
    align-items: center;
    column-gap: rem(6);
    font-size: rem(22);
    font-weight: 700;
    user-select: none;
  }

  &List {
    position: relative;
    display: flex;
    column-gap: clamp(rem(20), 7vw, rem(60));
  }
}
