.hero {
  margin-top: clamp(rem(80),4vw,rem(95));
  padding-top: clamp(rem(40),4vw,rem(80));

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile() {
      flex-direction: column;
    }
  }

  &Info {
    width: min(100%, rem(532));
  }
}